$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$c-white: #fff;
$c-grey-1: #979999;
$c-grey-2: #888a8a;
$c-blue-1: #0772eb;
$c-blue-2: #3a92f9;
$c-blue-3: #85bcfb;
$c-purple-1: #f4edff;
